.filterBorder {
    display: flex;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #78849E66;
    border-radius: 20px;
    opacity: 1;
    box-sizing: border-box;
}

.filterLabel {
    display: flex;
    padding: 8px 12px;
    font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-12)/14px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    color: #78849E;
    opacity: 1;
}