.tableWrap {
    display: flex;
    margin-top: 46px;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    height: 481px;
    position: relative;
    margin-bottom: 58.5px;
}

.table {
    display: grid;
}

.tableHeaderRow {
    display: flex;
    width: 100%;
}

.tableBodyRow {
    display: flex;
    position: absolute;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 13px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/20px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    color: #536B7A;
    opacity: 1;
    border-bottom: 1px solid rgba(154, 174, 187, 0.4);
}

.tableBodyRow td:last-child {
    color: #9AAEBB;
}

.tableHeaderColumn {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(11, 116, 155, 0.6);
    text-transform: capitalize;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-10)/20px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #0B749B;
    opacity: 1;
    background-color: var(--unnamed-color-ffffff);
}

.tableBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

th {
    text-align: left;
}

td:first-child {
    text-align: center;
}

.detailsModal {
    padding: 30px 58px 17px 62px;
}

.detailsTitleBorder {
    margin: 0;
    margin-top: 16px;
    width: 52px;
    height: 0px;
    border: 2px solid var(--unnamed-color-21b3cf);
    background: transparent url('img/Line 303.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#alert-dialog-title {
    font: var(--unnamed-font-style-normal) normal 300 32px/38px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    color: #164E78;
    opacity: 1;
    padding: 0;
}

.detailsTitle {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.customDialogWidth {
    max-width: none;
    min-width: 750px;
}

.customSpacing p {
    margin: 0;
}

/* Aplica estilos nas labels (year, genre,...) */
.customSpacing p:nth-child(2n) {
    margin-top: 4px;
    font: var(--unnamed-font-style-normal) normal medium 16px/19px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    color: #78849E;
    opacity: 1;
}

/* Aplica estilos nos valores (2019,Animtation,...) */
.customSpacing p:nth-child(2n + 1) {
    margin-top: 16px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/17px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    color: #78849EB9;
    opacity: 1;
}

.elencoDiv {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.elencoDiv div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.elencoDiv>div>p:nth-of-type(2) {
    font: var(--unnamed-font-style-normal) normal medium 16px/19px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 16px/19px Roboto;
    color: #00BAFF;
    opacity: 1;
}

.errorLabel {
    display: flex;
    justify-content: center;
    color: #78849EB9;
    font: var(--unnamed-font-style-normal) normal medium 16px/19px Roboto;

}